{% extends 'starchaser/base.html' %}

{% block content %}
<!-- landing.html -->
<div class="bg-gray-900 text-white flex flex-col h-screen">
  <nav class="bg-gray-900 text-white py-4 mt-2">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
      <a href="/" class="text-2xl font-bold">Starchaser</a>
      <a href="{% url 'login' %}" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md">
        Login
      </a>
    </div>
  </nav>
  <div class="flex-1 flex items-center justify-center">
    <div class="max-w-xl flex flex-col items-center px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-4xl font-extrabold tracking-tight sm:text-5xl">
        準備好開始學習了嗎?
      </h2>
      <p class="mt-6 text-xl">
        使用我們的互動式教學卡片、練習測試和學習活動,徹底掌握你所學的知識。
      </p>
      <div class="mt-10">
        <a href="{% url 'signup' %}" class="inline-block rounded-md border border-transparent bg-blue-600 py-3 px-4 text-base font-medium text-white shadow-sm hover:bg-blue-700 sm:px-8">
          免費註冊
        </a>
      </div>
    </div>
  </div>
  <footer class="bg-gray-900 text-white py-8 mt-auto">
    <div class="mt-8 border-t border-gray-700 pt-4 text-center text-gray-400">
      &copy; 2023 Starchaser. All rights reserved.
    </div>
  </footer>
</div>
{% endblock %}