{% extends "base.html" %}

{% block content %}
<h1>Register</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32) }}
        {% for error in form.errors.username %}
        <div style="color: red;">{{ error }}</div>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }} <br>
        {{ form.email(size=64) }}
        {% for error in form.errors.email %}
        <div style="color: red;" >{{ error }}</div>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32) }}
        {% for error in form.errors.password %}
        <div style="color: red;" >{{ error }}</div>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }} <br>
        {{ form.password2(size=32) }}
        {% for error in form.errors.password2 %}
        <div style="color: red;" >{{ error }}</div>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>

{% endblcok %}