{% extends "base.html" %}


{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ student.avatar(80) }}"></td>
            <td><h1>Student: {{ student.username }}</h1></td>
            {% if student.about_me %}<p>{{ student.about_me }}</p>{% endif %}
            {% if student.last_seen %}<p>Last seen on: {{ student.last_seen }}</p>{% endif %}

        </tr>
    </table>
    {% if student == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% endif %}
    <hr>
    <h1>Latest Updates</h1>
    {% for update in updates %}
        {% include '_update.html' %}
    {% endfor %}
{% endblock %}