{% extends "base.html" %}

{% block meta %}
  <meta content="線上 DSE 每日英文小測，助你提升英放水平" name="description" />
  <meta content="線上 DSE 每日英文小測，助你提升英放水平" property="og:description" />
  <meta content="DSE StarChaser | Daily Quiz" property="og:title" />
  <meta property="og:site_name" content="DSE StarChaser">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.{{request.get_host}}{{request.path }}">
{% endblock meta %}



{% block title %} Daily Quiz {% endblock title %}

{% block content %}

<h2>每日英文小測 📆</h2>

<table class="table table-hover mt-5 table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">🔗</th>
    </tr>
  </thead>
  <tbody>
    {% for quiz in quizzes %}
        <tr>
            <th scope="row">{{ quiz.created_at|date:"d/m/Y" }}</th>
            <td>{{ quiz.title|truncatechars:52 }}</td>
            <td><a href="{{ quiz.get_absolute_url }}" class="btn btn-outline-info">Link</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
