{% extends 'base.html' %}

{% load quiz_tags %}

{% block title %} 

{{ quiz.title }} 

{% endblock title %}

{% block content %}
<h2 class="mt-3">{{ quiz.title }}</h2>
<div class="mb-3 d-flex flex-column">
    <span>Date: {{ quiz.created_at|date:"d/m/Y" }}</span>
    <a class="mt-2 link-info text-decoration-none" href="{{ quiz.source }}">Read Full Article</a>
</div>
<hr/>
<div class="mt-3">
    {{ quiz.content|md }}
</div>
<div class="mt2" >
    <details class="text-danger">
        <summary class="danger">
            Answer Key
        </summary>
        {% if quiz.answer_key is not None %}
        <div class="mt-2">
            {{ quiz.answer_key|md }}
        </div>
        {% else %}
        <div class="mt-2">
            <p class="text-danger">No Answer Key yet...</p>
        </div>
        {% endif %}
    </details>
</div>
<hr/>
<div class="mt-2">{{ quiz.vocab_list|md }}</div>


{% endblock content %}