{% extends "base.html" %}

{% block title %} Daily Quiz {% endblock title %}

{% block content %}

<h1>Quiz Table</h1>

<table class="table table-hover mt-5 table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">🔗</th>
    </tr>
  </thead>
  <tbody>
    {% for quiz in quizzes %}
        <tr>
            <th scope="row">{{ quiz.created_at|date:"d/m/Y" }}</th>
            <td>{{ quiz.title|truncatechars:52 }}</td>
            <td><a href="{{ quiz.get_absolute_url }}" class="btn btn-outline-info">Link</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
