{% extends "base.html" %}
<!-- Title -->
{% block title %} Your Learning Platform {% endblock title %}

<!-- Content -->
{% block content %}
<header class="py-5 border-bottom">
  <div class="container-xxl bd-gutter pt-md-1 pb-md-4">
    <div class="row">
      <div class="col-xl-8">
        <h1 class="bd-title mt-0">StarChaser</h1>
        <p class="bd-lead">陪你走過備戰DSE / IELTS 的歲月，一齊走上追星之旅</p>

        <div class="d-flex flex-column flex-md-row gap-3">
          <a
            href="https://drive.google.com/drive/folders/19t63LXgL-I1-SOj1aDvabBqUqv0E7Ng1?usp=sharing"
            target="_blank"
            class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
            最新筆記
          </a>
          <a
            href="https://www.youtube.com/watch?v=FrQK56ojb6c&list=PLms_Uy6lFiB3y-oxHKe2zoUTUw3jfaBZ1"
            target="_blank"
            class="btn btn-outline-light btn-lg px-4"
            >最新 Videos</a
          >
        </div>
      </div>
      <div class="col-xl-4 d-lg-flex justify-content-xl-end"></div>
    </div>
  </div>
</header>

{% endblock content %}
