{% extends "base.html" %}
<!-- Title -->
{% block title %} 線上DSE英文 / IELTS學習平台 {% endblock title %}

<!-- Content -->
{% block content %}
<header class="py-5 border-bottom">
  <div class="container-xxl bd-gutter px-4 pt-md-1 pb-md-4">
    <div class="row">
      <div class="col-xl-8">
        <h1 class="bd-title mt-0">StarChaser</h1>
        <p class="bd-lead">陪你走過備考的歲月，一齊踏上追星之旅 ⭐️</p>

        <div class="d-flex flex-column flex-md-row gap-3">
          <a
            href="https://drive.google.com/drive/folders/19t63LXgL-I1-SOj1aDvabBqUqv0E7Ng1?usp=sharing"
            target="_blank"
            class="btn btn-success btn-lg px-4 me-sm-3 fw-bold">
            最新筆記
          </a>
          <a
            href="https://www.youtube.com/watch?v=FrQK56ojb6c&list=PLms_Uy6lFiB3y-oxHKe2zoUTUw3jfaBZ1"
            target="_blank"
            class="btn btn-outline-light btn-lg px-4"
            >
            YouTube 頻道
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="bd-content order-1 py-5 px-4">
  <div class="container-xxl bd-gutter">
    <div class="bd-content">
      <h2>學習資源</h2>
      <p>一系列免費 DSE 及 IELTS 筆記，練習＋範文</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3 d-flex gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-journal-bookmark-fill"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z" />
          <path
            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
          <path
            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
        </svg>
        <div>
          <h3 class="h5 mb-1">
            <a class="d-block link-offset-1" href="#" target="_blank" rel="noopener"> DSE 英文</a>
          </h3>
          <p class="text-body-secondary">Coming Soon~</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3 d-flex gap-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-journal-bookmark-fill"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z" />
          <path
            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
          <path
            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
        </svg>
        <div>
          <h3 class="h5 mb-1">
            <a class="d-block link-offset-1" href="#" target="_blank" rel="noopener">IELTS</a>
          </h3>
          <p class="text-body-secondary">Coming Soon~</p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
