<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        src="https://cdn.jsdelivr.net/gh/louiskwt/starchaser-static/icons/icon-196.png"
        alt="starchaser-icon"
        width="25"
        height="25"
        class="rounded mr-2 d-inline-block align-text-top" />
      StarChaser
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="nav-btn">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quiz_index' %}">Quiz</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dse_main' %}">DSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ielts_main' %}">IELTS</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    DSE StarChaser 將於 2024 DSE 之後暫停開發及更新，然而站內的資源仍然會保存作為 public archive.
    <button type="button" class="btn-close" id="alert-btn" data-bs-dismiss="alert" aria-label="Close"></button>  
</div>