{% extends "base.html" %}

{% block title %} 

{{ post.title }} 

{% endblock title %}

{% block content %}
<div class="row g-5 p-3">
    <div class="col-md-8">
        <article class="mb-4">
            <div class="text-center text-md-start">
                <h2 class="display-5 mb-1">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.published_at }}</p>
            </div>
            <hr>
            <p>
                {{ post.body }}
            </p>
        </article>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock content %}